.todolist__item:hover {
  cursor: pointer;
  user-select: none;
}

.selected {
  background-color: grey;
}

.completed {
  text-decoration: line-through solid black;
}

.btncontrols__btn {
  padding: 15px 30px;
  margin: 10px 5px;
}

.messages {
  height: 40px;
}
