.todolist__item:hover {
  cursor: pointer;
  user-select: none;
}

.item-list-bg {
  background-color: rgb(128, 128, 128);
}

.completed {
  text-decoration: line-through solid rgb(0, 0, 0);
}

.btncontrols__btn {
  padding: 15px 30px;
  margin: 10px 5px;
}
